<h2>How teams deliver products</h2>

<ul>
	<li><a href="{{ site.baseurl }}{% link _pages/en/principles.md %}">Principles for how product teams build services (draft)</a></li>
	<li><a href="{{ site.baseurl }}{% link _pages/en/responsibilities.md %}">Product team member responsibilities</a></li>
	<li><a href="https://docs.google.com/document/d/1t3YX3zBhnLcWYNCJ-hkYvseEWE20n9FJmq6563LwQ5o/edit">Phase patterns</a></li>
	<li><a href="https://docs.google.com/document/d/1z_UBsleGrzh720ucN5zf2vb3LFGvj29mHGodx7_1pf4/edit#heading=h.sjqaiear3f3t">I need help…what should I do? (For product team members)</a></li>
</ul>

<h2>How we do design</h2>

<ul>
	<li><a href="https://docs.google.com/document/d/16qPih4kPVOa8hiPgXiK--oxwapbJ5T9toQaW6OSN51I/edit?usp=drive_web&amp;ouid=115428102159383580616">Design community career progression framework</a></li>
	<li><a href="https://www.figma.com/file/CPixUU1tCfzgw3T9vaPSBU/Design-System?node-id=1%3A2">CDS design system components in Figma (very draft)</a></li>
</ul>

<h2>How we do research</h2>

<ul>
	<li><a href="https://docs.google.com/document/d/16DGlPORftHaLjJEP31wKMurPD1w8T029JxlTcdG1ufE/edit?usp=drive_web&amp;ouid=115428102159383580616">Research community career progression framework</a></li>
	<li><a href="https://docs.google.com/document/d/1zLcE911x7enwdujpyPYTDxuF9conNHH6P7SsyucFHrE/edit">Principles for delivery-focused research</a></li>
</ul>

<h2>How we do software development</h2>

<ul>
	<li><a href="https://docs.google.com/document/d/1nlWprj7zmSzRWOdOO458QAJfLWFxb4tTRdp08f5f_iU/edit#heading=h.83yfgjlleseu">Software development career progression framework</a></li>
</ul>

<h2>How we do product management</h2>

<ul>
	<li><a href="https://docs.google.com/document/d/1glVLLPaQlj5UKvG3yTPKxl97ahbgj3T7q1FxOjlDINU/edit">Product management career progression framework</a></li>
	<li><a href="https://drive.google.com/drive/folders/1HLf3WhjgIaxMOX44I4zuRkQz8bVr0B4c">Product management artifacts</a></li>
</ul>

<h2>How heads of community support product teams</h2>

<ul>
	<li><a href="https://docs.google.com/document/d/1iMcHlBdHcQ1yHYgko1w9U5__Lp81RS8Kv4Qb3uaWOeQ/edit">Community management rituals and cycles</a></li>
	<li><a href="https://docs.google.com/document/d/1f5_kUAGWmoy86hc3fpqzXtgJOVzeyd3pg2_hc74R6SU/edit">Principles of community management</a></li>
	<li><a href="https://docs.google.com/document/d/1SeRN-XvhJCM69WfwlOJ3eH3XUdaghunAFWVrI8QT_SQ/edit">Empowering product teams through tough moments</a></li>
</ul>

<h2>CDS-wide expectations and references</h2>

<ul>
	<li><a href="https://docs.google.com/document/d/1ik3HW_g_Z-8cK3lsVr7WxqP_OVdSqUm3FKbEh1izoCw/edit?usp=drive_web&amp;ouid=115428102159383580616">Employee commitment</a></li>
	<li><a href="https://docs.google.com/document/d/1QRiMvB4-lKrb2v_h2RAQZmUeGo-cAv3FKhVVCm0NR1g/edit">All-team meetings and guidelines</a></li>
	<li><a href="https://docs.google.com/document/d/1dJ9tQSHBTL5v1JpfLYuTa4jp0kHWaDcnTyI0x5d0xkQ/edit?usp=drive_web&amp;ouid=115428102159383580616">Employee handbook</a></li>
</ul>



{% assign mydocs = site.pages | where:"lang","en" | where:"layout","page" |  sort: 'category' | group_by: 'category' %}
{% for cat in mydocs %}
<h3>{{ cat.name }}</h3>
    <ul>
      {% assign items = cat.items | sort: 'title' %}
      {% for item in items %}
        <li><a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></li>
      {% endfor %}
    </ul>
{% endfor %}
