{% assign mydocs = site.pages | where:"lang","fr" | where:"layout","page" | group_by: 'category' %}
{% for cat in mydocs %}
<h3>{{ cat.name | capitalize }}</h3>
    <ul>
      {% assign items = cat.items | sort: 'title' %}
      {% for item in items %}
        <li><a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a></li>
      {% endfor %}
    </ul>
{% endfor %}

<h2 id="comment-les-quipes-livrent-les-produits">Comment les équipes livrent les produits</h2>
<ul>
<li><a href="https://docs.google.com/document/d/1ADYr5uqqu25FX3E1QVCbhmZp-YmsEJsOuvDk02jCKFY/edit">[Ébauche] Principes sur la façon dont les équipes produits créent des services</a></li>
<li><a href="https://docs.google.com/document/d/15uRvNqwCiJRkRU6u8gyklw38DKtzXtqxRVOT-gXQohY/edit">Product team member responsibilities (en traduction)</a></li>
<li><a href="https://docs.google.com/document/d/1t3YX3zBhnLcWYNCJ-hkYvseEWE20n9FJmq6563LwQ5o/edit">Phase patterns (en traduction)</a></li>
<li><a href="https://docs.google.com/document/d/1z_UBsleGrzh720ucN5zf2vb3LFGvj29mHGodx7_1pf4/edit#bookmark=kix.grv964mu7vr0">J&#39;ai besoin d&#39;aide... Que devrais-je faire ? Pour les membres de l&#39;équipe produit</a></li>
</ul>
<h2 id="comment-nous-concevons">Comment nous concevons</h2>
<ul>
<li><a href="https://docs.google.com/document/d/16qPih4kPVOa8hiPgXiK--oxwapbJ5T9toQaW6OSN51I/edit?usp=drive_web&amp;ouid=115428102159383580616">Design community career progression framework (ébauche)</a></li>
<li><a href="https://www.figma.com/file/CPixUU1tCfzgw3T9vaPSBU/Design-System?node-id=1%3A2">Composants du système de conception CDS dans Figma (très ébauche)</a></li>
</ul>
<h2 id="comment-nous-faisons-de-la-recherche">Comment nous faisons de la recherche</h2>
<ul>
<li><a href="https://docs.google.com/document/d/16DGlPORftHaLjJEP31wKMurPD1w8T029JxlTcdG1ufE/edit?usp=drive_web&amp;ouid=115428102159383580616">Research community career progression framework (en traduction)</a></li>
<li><a href="https://docs.google.com/document/d/1zLcE911x7enwdujpyPYTDxuF9conNHH6P7SsyucFHrE/edit">Principles for delivery-focused research (en traduction)</a></li>
</ul>
<h2 id="comment-nous-d-veloppons-des-logiciels">Comment nous développons des logiciels</h2>
<ul>
<li><a href="https://docs.google.com/document/d/1nlWprj7zmSzRWOdOO458QAJfLWFxb4tTRdp08f5f_iU/edit#heading=h.83yfgjlleseu">Development community career progression framework (en traduction)</a></li>
</ul>
<h2 id="comment-nous-g-rons-les-produits">Comment nous gérons les produits</h2>
<ul>
<li><a href="https://docs.google.com/document/d/1glVLLPaQlj5UKvG3yTPKxl97ahbgj3T7q1FxOjlDINU/edit">Product management community career progression framework (en traduction)</a></li>
<li><a href="https://drive.google.com/drive/folders/1HLf3WhjgIaxMOX44I4zuRkQz8bVr0B4c">Artefacts de la gestion des produits</a></li>
</ul>
<h2 id="comment-les-responsables-de-la-communaut-soutiennent-les-quipes-de-produits">Comment les responsables de la communauté soutiennent les équipes de produits</h2>
<ul>
<li><a href="https://docs.google.com/document/d/1iMcHlBdHcQ1yHYgko1w9U5__Lp81RS8Kv4Qb3uaWOeQ/edit">Community management rituals and cycles (en traduction)</a></li>
<li><a href="https://docs.google.com/document/d/1f5_kUAGWmoy86hc3fpqzXtgJOVzeyd3pg2_hc74R6SU/edit">Principles of community management (en traduction)</a></li>
<li><a href="https://docs.google.com/document/d/1SeRN-XvhJCM69WfwlOJ3eH3XUdaghunAFWVrI8QT_SQ/edit">L’habilitation des équipes dans les moments difficiles (en traduction)</a></li>
</ul>
<h2 id="attentes-l-chelle-du-cds">SNC</h2>
<ul>
<li><a href="https://docs.google.com/document/d/1cMJ_Kf_cipbFVaggAXfkb71EI97UqNSTFSDhp2WP-NU/edit">Engagement des employés</a> (précédemment &quot;code de conduite&quot;)</li>
<li><a href="https://docs.google.com/document/d/1QRiMvB4-lKrb2v_h2RAQZmUeGo-cAv3FKhVVCm0NR1g/edit">Ligne directrices pour les réunions</a></li>
<li><a href="https://docs.google.com/document/d/1D3gAXWMMHnQ3sQdU4AAfCVgIzBFHfvOm8owNo1FIDog/edit">Manuel de l&#39;employé</a></li>
</ul>
